
.buttonDiv{
	width: 100%;
	position: relative;
	display:-webkit-flex;
	-webkit-align-items: center;	
}

.buttonDiv button{
	width: 50%;
	height: 3.5em
}

.exerciseDiv{
	height: 50%;
	font-size:1.25em;
	overflow-y: scroll;
}

.timerDiv{
	font-size:1.5em;
	position: absolute;
	bottom: 125px;
}

.buttonDiv{
	position: absolute;
	bottom: 0px;
	left: 0px;
}