<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/ExerciseControllAppFrontend" version="1.0.0" viewmodes="maximized">
    <tizen:application id="r8sqOSYbtd.ExerciseControllAppFrontend" package="r8sqOSYbtd" required_version="2.2"/>
    <content src="exercises.html"/>
    <feature name="http://developer.samsung.com/tizen/feature/network.accessory_protocol"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <tizen:metadata key="AccessoryServicesLocation" value="res/xml/accessoryservices.xml"/>
    <name>Exercise Control</name>
    <tizen:privilege name="http://developer.samsung.com/privilege/accessoryprotocol"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/healthinfo"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
	 
	 
	 
	 
	 
	 
	 
	 
</widget>
